body {
 
  width: 100%;
 
  max-width: 1160px;
 
  margin: 0 auto; }
  
  h1 {
  font-family: Impact;
  font-size: 40px;}
 
nav {
 
  width: 100%;
 
  margin: 20px 0; }
 
nav ul {
 
  list-style: none;
 
  overflow: hidden; }
 
nav ul li {
 
  float: left;
 
  width: 25%; }
 
nav ul li a {
 
  text-align: center;
 
  padding: 8px 0;
 
  display: block;
 
  width: 100%;
 
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 11%, #000000 67%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#45484d), color-stop(67%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 11%,#000000 67%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 11%,#000000 67%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 11%,#000000 67%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 11%,#000000 67%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
nav ul li a,
 
nav ul li a:focus,
 
nav ul li a:visited,
 
nav ul li a:hover,
 
nav ul li a:active {
 
  color: #eeeeee;
 
  text-decoration: none; }
 
nav ul li a:hover,
 
nav ul li a:active {
 
  background: #eeeeee; 
  border: #45484d solid 1px;
  color: #45484d; 
  text-decoration: none;  }
 
nav ul li:first-child a {
 
  border-top-left-radius: 8px;
 
  border-bottom-left-radius: 8px; }
 
nav ul li:last-child a {
 
  border-top-right-radius: 8px;
 
  border-bottom-right-radius: 8px; }
  li {
  font-family: Impact;
  font-size: 20px;
  text-decoration: none;}
  
  div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	border: 5px solid black;
	width: 100%;
	max-width: 1150px;
	margin-top: -20px;
	height: 60px;
	background: #292E2E;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 30px;
	font-family: Impact;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 30px;
	font-family: Impact;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
	color: white;
	font-size: 18px;
}

.right p {

	margin-left: 30px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: white;;
}

li {
	list-style-type: none;
	text-indent: 30px;
	color: white;
	font-size: 18px;
}

a:hover {
	font-weight: bold;
}

.left {
position: relative;
	float: left;
	margin-top: -10px;
	width: 30%;
	height: 650px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}

#vi {
position: relative;
float: left;
	margin-top: 0px;
	width: 100%;
	height: 700px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
	border: 5px solid black;}

.right {
position: relative;
	float: right;
	margin-top: -12px;
	width: 800px;
	height: 670px;
	background: #292E2E;
	margin-bottom: -10px;
	border: 5px solid black;
}
#player {text-indent: 30px;}
#footer {
	height: 330px;
	position: relative;
	background: #292E2E;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#leo {
border: 5px solid black;}

#footer p {
	position: relative;
	padding-top: 15px;
	border: 5px solid black;
}
  #logo {
  position: initial;
  max-width:1150px;
  width: 100%;}
.champimg {
	position: relative;
	float: left;
	margin-top: 0px;
	width: 35%;
	height: 550px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
	border: 5px solid black;}
.champ {
color: black;}
.champdetails {
Margin-top: 20px;
margin-left: 37%;}
.champrimg {
float: right;
border: 5px solid black;
margin-top: 20px;
height: 170px;}