body {
 
  width: 100%;
 
  max-width: 1160px;
 
  margin: 0 auto; }
 
nav {
 
  width: 100%;
 
  margin: 20px 0; }
 
nav ul {
 
  list-style: none;
 
  overflow: hidden; }
 
nav ul li {
 
  float: left;
 
  width: 25%; }
 
nav ul li a {
 
  text-align: center;
 
  padding: 8px 0;
 
  display: block;
 
  width: 100%;
 
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 11%, #000000 67%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#45484d), color-stop(67%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 11%,#000000 67%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 11%,#000000 67%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 11%,#000000 67%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 11%,#000000 67%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
nav ul li a,
 
nav ul li a:focus,
 
nav ul li a:visited,
 
nav ul li a:hover,
 
nav ul li a:active {
 
  color: #eeeeee;
 
  text-decoration: none; }
 
nav ul li a:hover,
 
nav ul li a:active {
 
  background: #eeeeee; 
  border: #45484d solid 1px;
  color: #45484d; 
  text-decoration: none;  }
 
nav ul li:first-child a {
 
  border-top-left-radius: 8px;
 
  border-bottom-left-radius: 8px; }
 
nav ul li:last-child a {
 
  border-top-right-radius: 8px;
 
  border-bottom-right-radius: 8px; }
  li {
  font-family: Impact;
  font-size: 20px;
  text-decoration: none}
  
